@import '/src/css/_base.css';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
  background-color: var(--color-main-bg);
  font-size: var(--font-size);
  color: var(--color-font);
}

.main-component {
  display: grid;
  font-size: 1.4rem;
  height: 100vh;
}

.main-component[layout-style=basic] {
  grid-template-columns: 200px 1fr;
}

.main-component[layout-style=basic] > .navigation-component {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  margin-top: 80%;
}

.main-component[layout-style=basic] > .navigation-component > .navigation-item {
  cursor: pointer;
  padding: 0.5em;
}

.main-component[layout-style=basic] > .navigation-component > .navigation-item:hover {
  background-color: var(--color-highlight-hover);
}

.main-component > .content-holder {
  overflow-y: auto;
  margin: 10% 5%;
}

.main-component[layout-style=basic] .content-component {
  display: grid;
  align-content: flex-start;
  grid-gap: 1em;
  height: 100%;
}

.skills-header {
  font-size: 1.8em;
}

.skill-label {
  font-size: 1.4em;
}

.main-component[layout-style=basic] .skill-section {
  display: grid;
  grid-gap: 1em;
  align-content: flex-start;
  grid-template-columns: repeat(auto-fill, 300px);
}

.main-component[layout-style=basic] .skill-type {
  display: grid;
  grid-row-gap: 1em;
  align-content: flex-start;
}

.main-component[layout-style=basic] .skill-list {
  display: grid;
  grid-row-gap: 1em;
}

.main-component[layout-style=basic] .skill-set {
  display: grid;
}

.main-component[layout-style=basic] .skill-set > p:nth-child(2) {
  font-size: 0.8em;
  color: var(--color-font-sub);
}