:root {
  --font-size: 10px;
  --animation-duration: 0.5s;

  --color-main-bg: var(--light-color-main-bg);
  --color-font: var(--light-color-font);
  --color-font-sub: var(--light-color-font-sub);
  --color-highlight-hover: var(--light-color-highlight-hover);
  --color-button: var(--light-color-button);

  --light-color-main-bg: #888;
  --light-color-font: #111;
  --light-color-font-sub: #555;
  --light-color-highlight-hover: #0bf;
  --light-color-button: #555;

  --dark-color-main-bg: black;
  --dark-color-font: white;
  --dark-color-font-sub: grey;
  --dark-color-highlight-hover: red;
  --dark-color-button: white;
}

body {
  background-color: var(--color-main-bg);
  font-size: var(--font-size);
  color: var(--color-font);
  transition: background-color var(--animation-duration), color var(--animation-duration);
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-right);
}

.javascript-disabled {
  margin-top: 10%;
  display: grid;
  justify-content: center;
  font-size: 1.8em;
}

.main-component {
  font-size: 1.4rem;
  opacity: 0;
  transition: opacity 1s 0.2s;
  background-color: var(--color-main-bg);
}

.opacity-1 {
  opacity: 1;
}

@media (min-width: 601px) {
  .main-component {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
  }
}

@media (max-width: 600px) {
  .main-component {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 601px) {
  .main-component > .navigation-component {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    margin-top: 80%;
  }
}

@media (max-width: 600px) {
  .main-component > .navigation-component {
    background-color: var(--color-main-bg);
    height: 50px;
  }
}

.main-component > .navigation-component .navigation-item {
  padding: 0.5em;
}

@media (min-width: 601px) {
  .main-component options-component {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .main-component options-component {
    position: absolute;
    display: flex;
    flex-direction: column;
    display: none;
  }
}

.main-component > .content-holder {
  overflow-y: auto;
}

@media (min-width: 601px) {
  .main-component > .content-holder {
    padding: 5% 0;
  }
}

@media (max-width: 600px) {
  .main-component .content-holder {
    height: calc(100vh - 50px);
  }
}

.main-component[layout-style=gallery] > .content-holder {
  display: grid;
  grid-template-columns: repeat(4, 100%);
}

.main-component .content-component {
  display: grid;
  grid-gap: 1em;
  align-content: flex-start;
  min-height: 100%;
  padding: 5%;
}

.main-component .contact-component {
  display: grid;
  grid-gap: 1em;
  align-content: center;
  padding: 5%;
}

.component-header {
  font-size: 1.8em;
}

.main-component .component-section {
  display: grid;
  grid-gap: 1em;
  align-content: flex-start;
}

.main-component .skill-section {
  grid-template-columns: repeat(auto-fill, 300px);
}

.component-section > a > img {
  height: 32px;
  cursor: pointer;
}

.main-component .contact-links {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
