:root {
  --font-size: 10px;

  --color-main-bg: var(--light-color-main-bg);
  --color-font: var(--light-color-font);
  --color-highlight-hover: var(--light-color-highlight-hover);

  --light-color-main-bg: white;
  --light-color-font: black;
  --light-color-highlight-hover: aqua;

  --dark-color-main-bg: black;
  --dark-color-font: white;
  --dark-color-highlight-hover: red;
}