:host {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: var(--border-style);
  height: 0.7em;
  width: 0.7em;
}

:host span {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: var(--color-button);
  opacity: 0;
  transition: opacity var(--animation-duration);
}

:host([is-selected]) span {
  opacity: 1;
}