:host {
  overflow: hidden;
  transition: height var(--animation-duration);
  height: 0;
  display: grid;
}

:host(:not([show-styles])) {
  border-width: 0 !important;
  box-shadow: none !important;
}