:host {
  display: grid;
  grid-row-gap: 0.5em;
}

:host > a {
  font-size: 1.4em;
  text-decoration: underline;
}

:host > div > :nth-child(1) {
  color: var(--color-font-sub);
}

:host > div > :nth-child(2) {
  font-size: 0.8em;
}