@media (min-width: 601px) {
  :host {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 601px) {
  :host ::slotted(dropdown-box-module) {
    margin-left: 0.75em;
  }
}

@media (max-width: 600px) {
  :host ::slotted(dropdown-box-module) {
    position: absolute;
    right: 5%;
    bottom: 140px;
    border: var(--border-style);
    background-color: var(--color-main-bg);
    border-radius: var(--border-radius);
    padding-left: 0.75em;
    padding-right: 0.75em;
  }

  :host ::slotted(dropdown-box-module[dropdown-open]) {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}
