@media (min-width: 601px) {
  :host .menu-button {
    padding: 0.5em;
  }
}

@media (max-width: 600px) {
  :host {
    display: flex;
    flex-direction: column;
  }

  :host .menu-button {
    position: absolute;
    right: 5%;
    padding: 0.4em;
    bottom: 70px;
    height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    border: var(--border-style);
    background-color: var(--color-main-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }

  :host span {
    background-color: var(--color-border);
    border-radius: var(--border-radius);
    border: var(--border-style);
    height: 0.05em;
    margin: 0.2em;
    cursor: pointer;
  }
}