:host {
  display: block;
  padding: 2em 1.5em 1em;
  margin: -1em;
}

:host div {
  position: relative;
  background-color: transparent;
  height: 0.1em;
  border-radius: var(--border-radius);
  border: var(--border-style);
}

:host span {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: var(--color-font);
}