:host {
  display: block;
  padding: 2em 1.5em 1em;
  margin: -1em;
}

:host .outer-bar {
  position: relative;
  height: 0.1em;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: var(--border-style);
}

:host .filler-color {
  position: absolute;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: red;
  width: 100%;
  transform: scale3d(0, 1, 1);
  transform-origin: left;
}

:host .circle-handle {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: var(--color-border);
  z-index: 1;
}
