@import '/src/css/_base.css';

:host {
  display: grid;
  row-gap: 0.8em;
  align-content: flex-start;
}

:host > span {
  font-size: 1.4em;
  text-decoration: underline;
}

:host > div {
  display: grid;
  row-gap: 0.2em;
}

:host skill-set-module > :nth-child(2) {
  font-size: 0.7em;
  color: var(--color-font-sub);
}

:host skill-set-module > :nth-child(2):after  {
  content: ' ';
  white-space: pre;
}