@import '/src/css/_base.css';

:host([layout-style="basic"]) > ::slotted(:nth-child(2)) {
  font-size: 0.7em;
  color: var(--color-font-sub);
}

:host([layout-style="basic"]) > ::slotted(:nth-child(2)):after {
  content: ' ';
  white-space: pre;
}